# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore environment variables file
.env

# Ignore build artifacts
build/
dist/

# Ignore editor-specific files
.vscode/
.idea/

# Ignore operating system files
.DS_Store
Thumbs.db